.docs-main {
  min-width: 0;
}

.docs-main-inner {
  width: min(100%, var(--doc-max-width--desktop));
  padding-block: calc(var(--spacing) * 10) calc(var(--spacing) * 16);
  margin-inline: auto;
}

.docs-main.is-home .docs-main-inner {
  width: min(100%, 74rem);
  margin-inline: auto;
}

.docs-main.is-not-found .docs-main-inner {
  width: min(100%, 36rem);
  padding-block: calc(var(--spacing) * 16);
}

@media screen and (min-width: 1280px) {
  .docs-main {
    display: flex;
    gap: 1.5rem;
  }
}
