:root {
  --tracking-tight: -0.025em;
  --tracking-tighter: -0.05em;
  --tracking-normal: 0;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --spacing: 0.25rem;
  --radius: 0.625rem;
  --header-height: calc(var(--spacing) * 14);
  --sidebar-width: 18rem;
  --toc-width: 16rem;
  --container-max-width: 1600px;
  --foreground: oklch(14.5% 0 0);
  --gray-1: oklch(20.5% 0 0);
  --gray-2: oklch(26.9% 0 0);
  --gray-3: oklch(37.1% 0 0);
  --gray-4: oklch(55.6% 0 0);
  --gray-5: oklch(70.8% 0 0);
  --gray-6: oklch(87% 0 0);
  --gray-7: oklch(97% 0 0);
  --gray-8: oklch(98.5% 0 0);
  --background: oklch(100% 0 0);
  --orange-low: oklch(98% 0.016 73.684);
  --orange: oklch(70.5% 0.213 47.604);
  --orange-high: oklch(55.3% 0.195 38.402);
  --green-low: oklch(98.2% 0.018 155.826);
  --green: oklch(72.3% 0.219 149.579);
  --green-high: oklch(52.7% 0.154 150.069);
  --blue-low: oklch(97% 0.014 254.604);
  --blue: oklch(68.5% 0.169 237.323);
  --blue-high: oklch(48.8% 0.243 264.376);
  --purple-low: oklch(97.7% 0.014 308.299);
  --purple: oklch(62.7% 0.265 303.9);
  --purple-high: oklch(49.6% 0.265 301.924);
  --red-low: oklch(97.1% 0.013 17.38);
  --red: oklch(63.7% 0.237 25.331);
  --red-high: oklch(50.5% 0.213 27.518);
  --primary: var(--foreground);
  --primary-foreground: var(--gray-7);
  --secondary: var(--gray-6);
  --secondary-foreground: var(--foreground);
  --muted: var(--gray-6);
  --muted-foreground: var(--gray-4);
  --accent: var(--gray-6);
  --accent-foreground: var(--foreground);
  --border: var(--gray-6);
  --input: var(--gray-8);
  --ring: var(--gray-4);
  --card: var(--background);
  --card-foreground: var(--foreground);
  --code-background: var(--gray-7);
  --mark-background: var(--gray-8);
  --popover-background: var(--background);
  --popover-foreground: var(--foreground);
  --markdown-foreground: var(--gray-2);
  --body-font-color: var(--foreground);
  --body-background: var(--background);
  --panel-background: var(--background);
  --panel-border-color: var(--border);
  --toolbar-height: 0;
  --navbar-height: var(--header-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-width: var(--sidebar-width);
  --toc-height: calc(100vh - var(--header-height) - 2rem);
  --doc-max-width: 52rem;
  --doc-max-width--desktop: 52rem;
  --z-index-doc: 1;
  --z-index-nav: 2;
  --z-index-toolbar: 3;
  --z-index-navbar: 50;

  color-scheme: light;
}

:root[data-theme='dark'] {
  --foreground: oklch(98.5% 0 0);
  --gray-1: oklch(98.5% 0 0);
  --gray-2: oklch(87% 0 0);
  --gray-3: oklch(70.8% 0 0);
  --gray-4: oklch(55.6% 0 0);
  --gray-5: oklch(37.1% 0 0);
  --gray-6: oklch(26.9% 0 0);
  --gray-7: oklch(20.5% 0 0);
  --gray-8: oklch(14.5% 0 0);
  --background: oklch(14.5% 0 0);
  --orange-low: oklch(40.8% 0.123 38.172);
  --orange: oklch(83.7% 0.128 66.29);
  --orange-high: oklch(90.1% 0.076 70.697);
  --green-low: oklch(26.6% 0.065 152.934);
  --green: oklch(79.2% 0.209 151.711);
  --green-high: oklch(87.1% 0.15 154.449);
  --blue-low: oklch(29.3% 0.066 243.157);
  --blue: oklch(70.7% 0.165 254.624);
  --blue-high: oklch(82.8% 0.111 230.318);
  --purple-low: oklch(29.1% 0.149 302.717);
  --purple: oklch(71.4% 0.203 305.504);
  --purple-high: oklch(82.7% 0.119 306.383);
  --red-low: oklch(25.8% 0.092 26.042);
  --red: oklch(70.4% 0.191 22.216);
  --red-high: oklch(80.8% 0.114 19.571);
  --secondary: var(--gray-6);
  --secondary-foreground: var(--foreground);
  --muted: var(--gray-6);
  --muted-foreground: var(--gray-3);
  --accent: var(--gray-5);
  --accent-foreground: var(--foreground);
  --border: color-mix(in oklab, var(--gray-5) 65%, transparent);
  --input: var(--gray-7);
  --code-background: color-mix(in oklab, var(--gray-7) 80%, black);

  color-scheme: dark;
}
